* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text: #090e24;
  --primary-button: #1463ff;
  --primary-border: #efebff;
  --paragraph: #626e99;
}

html,
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
}

header {
  box-shadow: 0px 0px 25px #eee;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo h3 {
  color: var(--primary-text);
}

button {
  width: 10vw;
  padding: 10px 30px;
  border: transparent;
  border-radius: 7px;
  background-color: var(--primary-button);
  color: #fff;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #4a86ff;
  cursor: pointer;
}

input {
  width: 475px;
  margin-right: 10px;
  padding: 10px 20px;
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  box-shadow: 1px 1px 7px #f6f6f6;
}

.page1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  margin: 125px 0 75px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left h3 {
  width: 30%;
  padding: 10px;
  text-align: center;
  background-color: #fcdc5c;
  border-radius: 10px;
  color: #313131;
}

.left h2 {
  margin-top: 45px;
}

.left h1 {
  margin-top: 20px;
  font-size: 3em;
  color: #3f3f3f;
}

.left p {
  margin: 30px 0px 65px 0px;
  color: var(--paragraph);
}

.who {
  display: flex;
  align-items: center;
  justify-content: center;
}

.who-content h2 {
  margin-bottom: 25px;
  color: var(--primary-text);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-elements {
  padding: 40px 20px;
  height: 345px;
  width: 260px;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 1px 5px 3px #f6f6f6;
  border-radius: 10px;
  margin-right: 10px;
}

.card-elements img {
  width: 50px;
  height: 50px;
}

.card-elements h3 {
  margin: 20px 0;
  color: var(--primary-text);
}

.card-elements p {
  margin-bottom: 50px;
  color: var(--paragraph);
}

.inquiry {
  margin: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inquiry p {
  width: 525px;
  color: var(--paragraph);
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 150px;
}

.set1,
.set2,
.set3 {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .content {
  display: flex;
  font-weight: 800;
  align-items: center;
  justify-content: space-between;
  height: 300px;
  background-color: #f7f9fc;
  border-radius: 25px;
  padding: 0 25px;
}

.phone {
  margin-right: 25px;
}

.form-container .holder {
  color: var(--primary-text);
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .right .form input {
  width: 400px;
  margin-right: 10px;
  padding: 15px;
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  box-shadow: 1px 1px 7px #f6f6f6;
}

.form-container .right .form button {
  width: 10vw;
  padding: 15px 30px;
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  background-color: var(--primary-button);
  color: #fff;
  transition: 0.5s ease-in-out;
}

.form-container .right .form button:hover {
  background-color: #4a86ff;
  cursor: pointer;
}

footer {
  color: var(--paragraph);
  margin-top: 100px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 200px 75px 200px;
}

.para1 {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}

/* styles for screens with a max width of 767px (smartphones) */
@media (max-width: 767px) {
}

/* styles for screens with a width between 768px and 1023px (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
}
