* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
}

header {
  box-shadow: 0px 0px 25px #eee;
}

header .logo {
  display: flex;
  align-items: center;
}

main {
  margin: 0 150px;
}

button {
  width: 10vw;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #1463ff;
  color: #fff;
}

input {
  width: 475px;
  margin-right: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1px 1px 7px #ccc;
}

.hero {
  margin: 125px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left h3 {
  width: 30%;
  padding: 10px;
  text-align: center;
  background-color: #fcdc5c;
  border-radius: 10px;
}

.left h2 {
  margin-top: 45px;
}

.left h1 {
  margin-top: 15px;
  font-size: 3em;
}

.left p {
  margin: 20px 0px 70px 0px;
}

.hero-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.who-content h2 {
  margin-bottom: 25px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-elements {
  padding: 40px 20px;
  height: 345px;
  width: 260px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

.card-elements img {
  width: 50px;
  height: 50px;
}

.card-elements h3 {
  margin: 20px 0;
}

.card-elements p {
  margin-bottom: 50px;
}

.inquiry {
  margin: 150px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inquiry p {
  width: 500px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 175px;
}

.set1,
.set2,
.set3 {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  background-color: #f7f9fc;
  border-radius: 25px;
  padding: 0 50px;
}

.form-container .holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container .right .form input {
  width: 400px;
  margin-right: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 1px 1px 7px #ccc;
}

.form-container .right .form button {
  width: 10vw;
  padding: 15px 30px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #1463ff;
  color: #fff;
}

footer {
  margin-top: 125px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 200px 75px 200px;
}

.para1 {
  border-top: 1px solid black;
  padding-top: 30px;
}
